# DATA SCIENCE INTERN @ CODES_ON_BYTES

### AUTHOR : PARVEJ ALAM M. ANSARI

## TASK 1 : Create a csv dataset using python , pandas and any public api.

In [1]:
# Import required libraries:
import pandas as pd
import requests

In [2]:
# Function to fetch data from the JSONPlaceholder API
def get_users_data():
    url = "https://jsonplaceholder.typicode.com/users"
    response = requests.get(url)

    if response.status_code == 200:
        users_data = response.json()
        return users_data
    else:
        print(f"Failed to fetch data. Status code: {response.status_code}")
        return None

In [3]:
# Function to convert data to a Pandas DataFrame and save it to CSV
def create_csv_dataset(data, csv_filename):
    if data is not None:
        df = pd.DataFrame(data)
        df.to_csv(csv_filename, index=False)
        print(f"CSV dataset '{csv_filename}' created successfully.")
    else:
        print("Unable to create CSV dataset.")

In [4]:
# Fetch user data from the JSONPlaceholder API
users_data = get_users_data()

In [5]:
# Specify the CSV filename
csv_filename = "user_data.csv"

In [6]:
# Create and save the CSV dataset
create_csv_dataset(users_data, csv_filename)

CSV dataset 'user_data.csv' created successfully.

In [7]:
#csv file path:
csv_filename = "user_data.csv"

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(csv_filename)

# Dispay first five columns of dataset:
df.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [8]:
# Checking Coulmn names:
df.columns

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')

In [9]:
# Checking column datatypes:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10 non-null     int64
 1   name      10 non-null     object
 2   username  10 non-null     object
 3   email     10 non-null     object
 4   address   10 non-null     object
 5   phone     10 non-null     object
 6   website   10 non-null     object
 7   company   10 non-null     object
dtypes: int64(1), object(7)
memory usage: 768.0+ bytes

<p style="background-color:#F1C40F;color:black;font-size:22px;text-align:center;border-radius:10px 10px;font-weight:bold;border:2px solid #F1C40F;">Thank you😄!!!!!!</p>